// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here+
.priImg{
    margin-left: 5px;
}
.btn{
    border-radius: 8px !important;
    background-color: rgb(24, 24, 24);
    border-color: none !important;
}
.card-text{
    word-wrap: break-word;
    max-width: 200px;
}